* {
  margin: 0;
  padding: 0;
}

body {
  width: 500px;
  margin: auto;
  text-align: center;
}

body h1, body img {
  margin-block: 1rem;
}

body img {
  width: 50%;
}

.elements__choice {
  display: flex;
  gap: 0;
  justify-content: center;
  position: relative;
}

.elements__choice__answer {
  margin-bottom: 3.5rem;
}

.elements__choice__answer img {
  cursor: pointer;
  width: 100%;
}

.elements__choice__description {
  display: none;
}

.elements__choice .selected div {
  display: block;
  position: absolute;
  width: 80%;
  top: 110px;
  left: 10%;
}
